.main-container{
  max-height: 250px;
  min-height: 250px;
}
.qp-header {
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
}

.qp-container {
  max-height: 200px;
  min-height: 200px;
  max-width: 250px;
  min-width: 250px;
  overflow: auto;
  margin-left: 20px;
  margin-top: -10px;
  border-top: 1px solid #d6d6c2
}
